body {
  background: #bec5d4;
}

img {
  width: fit-content;
  height: 310px;
}

.card {
  cursor: pointer;
  width: 400px;
  height: 300px;
  transition: 0.4s ease-out;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
  border-radius: 30px;
}

.front {
  height: 100%;
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.back {
  background-color: #ffffff;
  transform: perspective(600px) rotateY(180deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #020B29;
}

.back-content {
  color: #020B29;
  text-align: center;
  font-size: 24px;
  width: 400px;
}

h4 {
  text-decoration: underline;
}

.card:hover>.front {
  transform: perspective(600px) rotateY(-180deg);
}

.card:hover>.back {
  transform: perspective(600px) rotateY(0deg);
}

li {
  color: black;
  font-size: medium;
  text-align: justify;
}

li::first-letter {
  color: red;
}

